@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;

}

body{
    background-color: black;
    
}
.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:300px ;
}
.stars{
    width: 350px;
    height: 250px;
    background-color: hsl(216, 12%, 8%) ;
    
}
.small button{
    /* width: 25px; */
    padding: 4%;
    border-radius: 100%;

}
.thankyou{
    width: 350px;
    height: 250px;
    background-color: hsl(216, 12%, 8%) ;
    display: none;
}